In [2]:
import configparser
import mysql.connector
import pandas as pd

def run(cursor, query):
    cursor.execute(query)
    result = cursor.fetchall()
    column_names = [description[0] for description in cursor.description]
    df = pd.DataFrame(result, columns=column_names)
    return df

# Read database credentials from the configuration file
config_parse = configparser.ConfigParser()
config_parse.read('config.ini')

db_config = {
    'host': config_parse.get('database', 'host'),
    'user': config_parse.get('database', 'user'),
    'password': config_parse.get('database', 'password'),
    'database': config_parse.get('database', 'schema'),
}

# Establish a connection to the MySQL server
connection = mysql.connector.connect(**db_config)

# Create a cursor object to interact with the database
cursor = connection.cursor()

In [4]:
query = "SELECT * FROM company_info_full"

run(cursor, query)

,company_name,address,city,zip_code,country,organization_type,registration_body,number_of_employees,net_value
0,Red,42 Sky Boulevard,Paris,64390,France,Volunteer Group,ARES System,3,107000.00
1,Passionfruit Films,4422 Weston Road,Basel,57545,Turkey,Fiscal Sponsor,Bolagsverket,5,918305.90
2,Slow Rush,4D Boderline Estate,London,94002,United Kingdom,Affiliate Companies,Bolagsverket,4,720000.00
3,YarnArk,8 Harcourt Street Derby,Derby,223,United Kingdom,For Profit,Companies House,0,80000.00
4,Burning House,93 Claymore Garden,Edinburgh,60643,United Kingdom,Fiscal Sponsor,Companies House,5,339874.90
5,Kryptonite Films,3 Doors Down Road,Le Havre,92940,France,Volunteer Group,CVR Virke,5,889474.90
6,Intergalactic Studios,87 Moon Man Boulevard,Berlin,57004,Germany,For Profit,CVR Virke,3,430110.00
7,Dirty Sprite Motion,21 St. Lucia Ave,Prague,35042,Czechia,Fiscal Sponsor,e-Äriregister,2,210000.00
8,New Magic Wand,3500 Massa Estate,Augsburg,75453,Germany,For Profit,Latvijas Republikas Uzņēmumu Reģistrs,4,20005.90
9,Astroworld,90210 Rodeo Ave,Athens,46543,Greece,Non Profit,Obchodný Register,4,295084.90
10,Solo Stepping Crete Films,1757 Crete Street,Warsaw,25006,Poland,For Profit,Zefix Zentraler Firmenindex,3,255400.00

In [ ]:
cursor.close()
connection.close()